## Logistic Regression - Titanic

The titanic dataset is a popular dummy dataset used to learn about logistic regression. It has also been used in a [Kaggle data science competition](https://www.kaggle.com/c/titanic), so you'll also find blogposts exploring all kinds of more advanced concepts that use this dataset too! In this assignment, you'll do a logistic regression to look at the effect of sex and class on survival on the titanic, by computing odds ratios.

adapted from: https://github.com/jstray/lede-algorithms/blob/master/week-3/week-3-2-homework.ipynb

Some references:

- [What are odds vs. probability?](https://towcenter.gitbooks.io/curious-journalist-s-guide-to-data/content/analysis/counting_possible_worlds.html)
- [Investigate.ai on Logistic Regressions](https://investigate.ai/regression/logistic-regression-quickstart/)
- [StatQuest Logistic Regressions Playlist](https://www.youtube.com/watch?v=yIYKR4sgzI8&list=PLblh5JKOoLUKxzEP5HA2d-Li7IJkHfXSe)
- [How do I interpret odds ratios in logistic regression?](https://stats.idre.ucla.edu/other/mult-pkg/faq/general/faq-how-do-i-interpret-odds-ratios-in-logistic-regression/) This one's a little more technical, but has good examples.

In [1]:
import pandas as pd
import numpy as np 
from plotnine import *

/Users/areena.arora/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

### Load the data

Read in the `titanic.csv` data set again.

In [2]:
# Load titanic.csv
df = pd.read_csv('titanic.csv')
df.columns = df.columns.str.replace(" ", "_")
df.columns = df.columns.str.replace("-", "_")
df.columns = df.columns.str.lower()
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df

,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,gender
0,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,-135,male
3,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male
5,1st,1,"Anderson, Mr Harry",47.0000,Southampton,"New York, NY",E-12,NaN,3,male
6,1st,1,"Andrews, Miss Kornelia Theodosia",63.0000,Southampton,"Hudson, NY",D-7,13502 L77,10,female
7,1st,0,"Andrews, Mr Thomas, jr",39.0000,Southampton,"Belfast, NI",A-36,NaN,NaN,male
8,1st,1,"Appleton, Mrs Edward Dale (Charlotte Lamson)",58.0000,Southampton,"Bayside, Queens, NY",C-101,NaN,2,female
9,1st,0,"Artagaveytia, Mr Ramon",71.0000,Cherbourg,"Montevideo, Uruguay",NaN,NaN,-22,male
10,1st,0,"Astor, Colonel John Jacob",47.0000,Cherbourg,"New York, NY",NaN,17754 L224 10s 6d,-124,male
11,1st,1,"Astor, Mrs John Jacob (Madeleine Talmadge Force)",19.0000,Cherbourg,"New York, NY",NaN,17754 L224 10s 6d,4,female
12,1st,1,"Aubert, Mrs Leontine Pauline",NaN,Cherbourg,"Paris, France",B-35,17477 L69 6s,9,female
13,1st,1,"Barkworth, Mr Algernon H.",NaN,Southampton,"Hessle, Yorks",A-23,NaN,B,male
14,1st,0,"Baumann, Mr John D.",NaN,Southampton,"New York, NY",NaN,NaN,NaN,male
15,1st,1,"Baxter, Mrs James (Helene DeLaudeniere Chaput)",50.0000,Cherbourg,"Montreal, PQ",B-58/60,NaN,6,female
16,1st,0,"Baxter, Mr Quigg Edmond",24.0000,Cherbourg,"Montreal, PQ",B-58/60,NaN,NaN,male
17,1st,0,"Beattie, Mr Thomson",36.0000,Cherbourg,"Winnipeg, MN",C-6,NaN,NaN,male
18,1st,1,"Beckwith, Mr Richard Leonard",37.0000,Southampton,"New York, NY",D-35,NaN,5,male
19,1st,1,"Beckwith, Mrs Richard Leonard (Sallie Monypeny)",47.0000,Southampton,"New York, NY",D-35,NaN,5,female
20,1st,1,"Behr, Mr Karl Howell",26.0000,Cherbourg,"New York, NY",C-148,NaN,5,male
21,1st,0,"Birnbaum, Mr Jakob",25.0000,Cherbourg,"San Francisco, CA",NaN,NaN,-148,male
22,1st,1,"Bishop, Mr Dickinson H.",25.0000,Cherbourg,"Dowagiac, MI",B-49,NaN,7,male
23,1st,1,"Bishop, Mrs Dickinson H. (Helen Walton)",19.0000,Cherbourg,"Dowagiac, MI",B-49,NaN,7,female
24,1st,1,"Bjornstrm-Steffansson, Mr Mauritz Hakan",28.0000,Southampton,"Stockholm, Sweden / Washington, DC",NaN,,D,male
25,1st,0,"Blackwell, Mr Stephen Weart",45.0000,Southampton,"Trenton, NJ",NaN,NaN,-241,male
26,1st,1,"Blank, Mr Henry",39.0000,Cherbourg,"Glen Ridge, NJ",A-31,NaN,7,male
27,1st,1,"Bonnell, Miss Caroline",30.0000,Southampton,"Youngstown, OH",C-7,NaN,8,female
28,1st,1,"Bonnell, Miss Elizabeth",58.0000,Southampton,"Birkdale, England Cleveland, Ohio",C-103,NaN,8,female
29,1st,0,"Borebank, Mr John James",NaN,Southampton,"London / Winnipeg, MB",D-21/2,NaN,NaN,male
30,1st,1,"Bowen, Miss Grace Scott",45.0000,Cherbourg,"Cooperstown, NY",NaN,NaN,4,female
31,1st,1,"Bowerman, Miss Elsie Edith",22.0000,Southampton,"St Leonards-on-Sea, England Ohio",NaN,NaN,6,female
32,1st,1,"Bradley, Mr George",NaN,Southampton,"Los Angeles, CA",NaN,NaN,15,male
33,1st,0,"Brady, Mr John Bertram",41.0000,Southampton,"Pomeroy, WA",NaN,NaN,NaN,male
34,1st,0,"Brandeis, Mr Emil",48.0000,Cherbourg,"Omaha, NE",NaN,17591 L50 9s 11d,-208,male
35,1st,0,"Brewe, Dr Arthur Jackson",NaN,Cherbourg,"Philadelphia, PA",NaN,NaN,NaN,male
36,1st,1,"Brown, Mrs James Joseph (Margaret Molly"" Tobin)""",44.0000,Cherbourg,"Denver, CO",NaN,17610 L27 15s 5d,6,female
37,1st,1,"Brown, Mrs John Murray (Caroline Lane Lamson)",59.0000,Southampton,"Belmont, MA",C-101,NaN,D,female
38,1st,1,"Bucknell, Mrs William Robert (Emma Eliza Ward)",60.0000,Cherbourg,"Philadelphia, PA",NaN,NaN,8,female
39,1st,0,"Butt, Major Archibald Willingham",45.0000,Southampton,"Washington, DC",NaN,NaN,NaN,male
40,1st,1,"Calderhead, Mr Edward P.",NaN,Southampton,"New York, NY",NaN,NaN,7-May,male
41,1st,1,"Candee, Mrs Edward (Helen Churchill Hungerford)",53.0000,Cherbourg,"Washington, DC",NaN,NaN,6,female
42,1st,1,"Cardeza, Mrs James Warburton Martinez (Charlot...",58.0000,Cherbourg,"Germantown, Philadelphia, PA",B-51/3/5,17755 L512 6s,3,female
43,1st,1,"Cardeza, Mr Thomas Drake Martinez",36.0000,Cherbourg,"Austria-Hungary / Germantown, Philadelphia, PA",B-51/3/5,17755 L512 6s,3,male
44,1st,0,"Carlsson, Mr Frans Olof",33.0000,Southampton,"New York, NY",NaN,NaN,NaN,male
45,1st,0,"Carrau, Mr Francisco M.",NaN,Southampton,"Montevideo, Uruguay",NaN,NaN,NaN,male
46,1st,0,"Carrau, Mr Jose Pedro",NaN,Southampton,"Montevideo, Uruguay",NaN,NaN,NaN,male
47,1st,1,"Carter, Mr William Ernest",36.0000,Southampton,"Bryn Mawr, PA",NaN,NaN,C,male
48,1st,1,"Carter, Mrs William Ernest (Lucile Polk)",36.0000,Southampton,"Bryn Mawr, PA",NaN,NaN,4,female
49,1st,1,"Carter, Miss Lucile Polk",14.0000,Southampton,"Bryn Mawr, PA",NaN,NaN,4,female
50,1st,1,"Carter, Master William T. II",11.0000,Southampton,"Bryn Mawr, PA",NaN,NaN,4,male
51,1st,0,"Case, Mr Howard Brown",49.0000,Southampton,"Ascot, Berkshire / Rochester, NY",NaN,NaN,NaN,male
52,1st,1,"Cassebeer, Mrs Henry Arthur jr (Genevieve Fosd...",NaN,Cherbourg,"New York, NY",NaN,NaN,5,female
53,1st,0,"Cavendish, Mr Tyrell William",36.0000,Southampton,"Little Onn Hall, Staffs",NaN,NaN,-172,male
54,1st,1,"Cavendish, Mrs Tyrell William Julia Florence S...",NaN,Southampton,"Little Onn Hall, Staffs",NaN,NaN,6,female
55,1st,0,"Chaffee, Mr Herbert Fuller",46.0000,Southampton,"Amenia, ND",NaN,NaN,NaN,male
56,1st,1,"Chaffee, Mrs Herbert Fuller (Carrie Constance ...",47.0000,Southampton,"Amenia, ND",NaN,NaN,NaN,female
57,1st,1,"Chambers, Mr Norman Campbell",27.0000,Southampton,"New York, NY / Ithaca, NY",NaN,NaN,5,male
58,1st,1,"Chambers, Mrs Norman Campbell (Bertha Griggs)",31.0000,Southampton,"New York, NY / Ithaca, NY",NaN,NaN,5,female
59,1st,1,"Cherry, Miss Gladys",NaN,Southampton,"London, England",NaN,NaN,8,female
60,1st,1,"Chevre, Mr Paul",NaN,Cherbourg,"Paris, France",NaN,NaN,7,male
61,1st,1,"Chibnall (Bowerman), Mrs Edith Martha",NaN,Southampton,"St Leonards-on-Sea, England Ohio",NaN,NaN,6,female
62,1st,0,"Chisholm, Mr Roderick Robert",NaN,NaN,"Liverpool, England / Belfast",NaN,NaN,NaN,male
63,1st,0,"Clark, Mr Walter Miller",27.0000,Cherbourg,"Los Angeles, CA",C-87,NaN,NaN,male
64,1st,1,"Clark, Mrs Walter Miller (Virginia McDowell)",26.0000,Cherbourg,"Los Angeles, CA",C-87,NaN,4,female
65,1st,0,"Clifford, Mr George Quincy",NaN,Southampton,"Stoughton, MA",NaN,NaN,NaN,male
66,1st,0,"Colley, Mr Edward Pomeroy",NaN,Southampton,"Victoria, BC",NaN,NaN,NaN,male
67,1st,1,"Compton, Mrs Alexander Taylor (Mary Eliza Inge...",64.0000,Cherbourg,"Lakewood, NJ",NaN,NaN,14,female
68,1st,0,"Compton, Mr Alexander Taylor, Jr",37.0000,Cherbourg,"Lakewood, NJ",NaN,NaN,NaN,male
69,1st,1,"Compton, Miss Sara Rebecca",39.0000,Cherbourg,"Lakewood, NJ",NaN,NaN,14,female
70,1st,1,"Cornell, Mrs Robert Clifford (Malvina Helen La...",55.0000,Southampton,"New York, NY",C-101,NaN,2,female
71,1st,0,"Crafton, Mr John Bertram",NaN,Southampton,"Roachdale, IN",NaN,NaN,NaN,male
72,1st,0,"Crosby, Captain Edward Gifford",70.0000,Southampton,"Milwaukee, WI",NaN,NaN,-269,male
73,1st,1,"Crosby, Mrs Edward Gifford (Catherine Elizabet...",69.0000,Southampton,"Milwaukee, WI",NaN,NaN,5,female
74,1st,1,"Crosby, Miss Harriet R.",36.0000,Southampton,"Milwaukee, WI",NaN,NaN,5,female
75,1st,0,"Cumings, Mr John Bradley",39.0000,Cherbourg,"New York, NY",C-85,NaN,NaN,male
76,1st,1,"Cumings, Mrs John Bradley (Florence Briggs Tha...",38.0000,Cherbourg,"New York, NY",C-85,NaN,4,female
77,1st,1,"Daly, Mr Peter Denis",NaN,Southampton,"Lima, Peru",NaN,NaN,A,male
78,1st,1,"Daniel, Mr Robert Williams",27.0000,Southampton,"Philadelphia, PA",NaN,NaN,7,male
79,1st,0,"Davidson, Mr Thornton",31.0000,Southampton,"Montreal, PQ",NaN,NaN,NaN,male
80,1st,1,"Davidson, Mrs Thornton (Orian Hays)",27.0000,Southampton,"Montreal, PQ",NaN,NaN,3,female
81,1st,1,"de Villiers, Madame Berthe",NaN,Cherbourg,"Belgium Montreal, PQ",NaN,NaN,6,female
82,1st,1,"Dick, Mr Albert Adrian",31.0000,Cherbourg,"Calgary, AB",NaN,NaN,3,male
83,1st,1,"Dick, Mrs Albert Adrian Vera Gillespie",17.0000,Cherbourg,"Calgary, AB",NaN,NaN,3,female
84,1st,1,"Dodge, Dr. Washington",NaN,Southampton,"San Francisco, CA",NaN,NaN,13,male
85,1st,1,"Dodge, Mrs Washington (Ruth Vidaver)",NaN,Southampton,"San Francisco, CA",NaN,NaN,7-May,female
86,1st,1,"Dodge, Master Washington",4.0000,Southampton,"San Francisco, CA",NaN,NaN,7-May,male
87,1st,1,"Douglas, Mrs Frederick Charles (Suzette Baxter)",27.0000,Cherbourg,"Montreal, PQ",NaN,NaN,6,female
88,1st,0,"Douglas, Mr Walter Donald",50.0000,Cherbourg,"Deephaven, MN / Cedar Rapids, IA",NaN,NaN,-62,male
89,1st,1,"Douglas, Mrs Walter Donald (Mahala Dutton)",48.0000,Cherbourg,"Deephaven, MN / Cedar Rapids, IA",NaN,NaN,2,female
90,1st,1,"Duff Gordon, Sir Cosmo Edmund",49.0000,Cherbourg,London / Paris,NaN,11755 L39 12s,1,male
91,1st,1,"Duff Gordon, Lady (Lucille Wallace Sutherland)",48.0000,Cherbourg,London / Paris,NaN,17485 L56 18s 7d,1,female
92,1st,0,"Dulles, Mr William Crothers",39.0000,Cherbourg,"Philadelphia, PA",NaN,NaN,-133,male
93,1st,1,"Earnshaw, Mrs Boulton (Olive Potter)",23.0000,Cherbourg,"Mt Airy, Philadelphia, PA",NaN,NaN,7,female
94,1st,1,"Eustis, Miss Elizabeth Mussey",53.0000,Cherbourg,"Brookline, MA",NaN,NaN,4,female
95,1st,0,"Evans, Miss Edith Corse",36.0000,Cherbourg,"New York, NY",NaN,NaN,NaN,female
96,1st,1,"Flegenheim, Mrs Alfred (Antoinette)",NaN,Cherbourg,"New York, NY",NaN,NaN,7,female
97,1st,1,"Flynn, Mr John Irving",NaN,Southampton,"Brooklyn, NY",NaN,NaN,7-May,male
98,1st,0,"Foreman, Mr Benjamin Laventall",30.0000,Cherbourg,"New York, NY",NaN,NaN,NaN,male
99,1st,1,"Fortune, Miss Alice Elizabeth",24.0000,Southampton,"Winnipeg, MB",NaN,NaN,10,female
100,1st,0,"Fortune, Mr Charles Alexander",19.0000,Southampton,"Winnipeg, MB",NaN,NaN,NaN,male
101,1st,1,"Fortune, Miss Ethel Flora",28.0000,Southampton,"Winnipeg, MB",NaN,NaN,10,female
102,1st,1,"Fortune, Miss Mabel",23.0000,Southampton,"Winnipeg, MB",NaN,NaN,10,female
103,1st,0,"Fortune, Mr Mark",64.0000,Southampton,"Winnipeg, MB",NaN,NaN,NaN,male
104,1st,1,"Fortune, Mrs Mark (Mary McDougald)",60.0000,Southampton,"Winnipeg, MB",NaN,NaN,10,female
105,1st,0,"Franklin, Mr Thomas Parham",NaN,Southampton,"Westcliff-on-Sea, Essex",NaN,NaN,NaN,male
106,1st,1,"Frauenthal, Dr Henry William",49.0000,Cherbourg,"New York, NY",NaN,NaN,5,male
107,1st,1,"Frauenthal, Mrs Henry William (Clara Heinsheimer)",NaN,Cherbourg,"New York, NY",NaN,NaN,5,female
108,1st,1,"Frauenthal, Mr Isaac Gerald",44.0000,Southampton,"New York, NY",NaN,NaN,5,male
109,1st,1,"Frolicher, Miss Marguerite",22.0000,Cherbourg,"Zurich, Switzerland",NaN,NaN,5,female
110,1st,1,"Frolicher-Stehli, Mr Maxmillian",60.0000,Cherbourg,"Zurich, Switzerland",NaN,NaN,5,male
111,1st,1,"Frolicher-Stehli, Mrs Maxmillian (Margaretha E...",48.0000,Cherbourg,"Zurich, Switzerland",NaN,NaN,5,female
112,1st,0,"Futrelle, Mr Jacques",37.0000,Southampton,"Scituate, MA",NaN,NaN,NaN,male
113,1st,1,"Futrelle, Mrs Jacques (May Peel)",35.0000,Southampton,"Scituate, MA",NaN,NaN,9,female
114,1st,0,"Gee, Mr Arthur H.",47.0000,Southampton,"St Anne's-on-Sea, Lancashire",NaN,NaN,-275,male
115,1st,1,"Gibson, Miss Dorothy",22.0000,Cherbourg,"New York, NY",NaN,NaN,7,female
116,1st,1,"Gibson, Mrs Leonard (Pauline C. Boeson)",45.0000,Cherbourg,"New York, NY",NaN,NaN,7,female
117,1st,1,"Goldenberg, Mr Samuel L.",49.0000,Cherbourg,"Paris, France / New York, NY",NaN,NaN,5,male
118,1st,1,"Goldenberg, Mrs Samuel L. (Edwiga Grabowsko)",NaN,Cherbourg,"Paris, France / New York, NY",NaN,NaN,5,female
119,1st,0,"Goldschmidt, Mr George B.",71.0000,Cherbourg,"New York, NY",NaN,NaN,NaN,male
120,1st,1,"Gracie, Colonel Archibald IV",54.0000,Southampton,"Washington, DC",C-51,113780 L28 10s,B,male
121,1st,0,"Graham, Mr George Edward",38.0000,Southampton,"Winnipeg, MB",NaN,NaN,-147,male
122,1st,1,"Graham, Miss Margaret Edith",19.0000,Southampton,"Greenwich, CT",C-125,17582 L153 9s 3d,3,female
123,1st,1,"Graham, Mrs William Thompson (Edith Junkins)",58.0000,Southampton,"Greenwich, CT",C-91,17582 L153 9s 3d,3,female
124,1st,1,"Greenfield, Mrs Leo David (Blanche Strouse)",45.0000,Cherbourg,"New York, NY",NaN,NaN,7,female
125,1st,1,"Greenfield, Mr William Bertram",23.0000,Cherbourg,"New York, NY",NaN,NaN,7,male
126,1st,0,"Guggenheim, Mr Benjamin",46.0000,Cherbourg,"New York, NY",B-82/4,17593 L56 18s 7d,NaN,male
127,1st,1,"Harder, Mr George Achilles",25.0000,Cherbourg,"Brooklyn, NY",NaN,NaN,5,male
128,1st,1,"Harder, Mrs George Achilles (Dorothy Annan)",21.0000,Cherbourg,"Brooklyn, NY",NaN,NaN,5,female
129,1st,1,"Harper, Mr Henry Sleeper",48.0000,Cherbourg,"New York, NY",NaN,NaN,3,male
130,1st,1,"Harper, Mrs Henry Sleeper (Myna Haxtun)",49.0000,Cherbourg,"New York, NY",NaN,NaN,3,female
131,1st,0,"Harris, Mr Henry Birkhardt",45.0000,Southampton,"New York, NY",C-83,36973 L83 9s 6d,NaN,male
132,1st,1,"Harris, Mrs Henry Birkhardt (Irene Wallach)",36.0000,Southampton,"New York, NY",C-83,36973 L83 9s 6d,D,female
133,1st,1,"Hawksford, Mr Walter James",NaN,Southampton,"Kingston, Surrey",NaN,NaN,3,male
134,1st,0,"Hays, Mr Charles Melville",55.0000,Southampton,"Montreal, PQ",NaN,NaN,-307,male
135,1st,1,"Hays, Mrs Charles Melville (Clara Jennings Gregg)",52.0000,Southampton,"Montreal, PQ",NaN,NaN,3,female
136,1st,1,"Hays, Miss Margaret Bechstein",24.0000,Southampton,"New York, NY",NaN,NaN,7,female
137,1st,0,"Head, Mr Christopher",NaN,Southampton,London / Middlesex,NaN,NaN,NaN,male
138,1st,0,"Hilliard, Mr Herbert Henry",NaN,Southampton,"Brighton, MA",NaN,NaN,NaN,male
139,1st,0,"Hipkins, Mr William Edward",NaN,Southampton,London / Birmingham,NaN,NaN,NaN,male
140,1st,1,"Hippach, Miss Jean Gertrude",16.0000,Cherbourg,"Chicago, IL",B-18,111361 L57 19s 7d,4,female
141,1st,1,"Hippach, Mrs Louis Albert (Ida Sophia Fischer)",44.0000,Cherbourg,"Chicago, IL",B-18,111361 L57 19s 7d,4,female
142,1st,1,"Hogeboom, Mrs John C. (Anna Andrews)",51.0000,Southampton,"Hudson, NY",D-?,13502 L77,10,female
143,1st,0,"Holverson, Mr Alexander Oskar",42.0000,Southampton,"New York, NY",NaN,NaN,-38,male
144,1st,1,"Holverson, Mrs Alexander Oskar (Mary Aline Tow...",35.0000,Southampton,"New York, NY",NaN,NaN,NaN,female
145,1st,1,"Homer, Mr Harry",35.0000,Cherbourg,"Indianapolis, IN",NaN,NaN,15,male
146,1st,1,"Hoyt, Mr Frederick Maxfield",38.0000,Southampton,"New York, NY / Stamford CT",C-93,NaN,D,male
147,1st,1,"Hoyt, Mrs Frederick Maxfield (Jane Anne Forby)",35.0000,Southampton,"New York, NY / Stamford CT",C-93,NaN,D,female
148,1st,0,"Hoyt, Mr William F.",NaN,Cherbourg,"New York, NY",NaN,NaN,14,male
149,1st,0,"Isham, Miss Anne Elizabeth",50.0000,Cherbourg,"Paris, France New York, NY",C-49,NaN,NaN,female
150,1st,1,"Ismay, Mr Joseph Bruce",49.0000,Southampton,Liverpool,B-52/4/6,112058 Complimentary,C,male
151,1st,0,"Jones, Mr Charles Cresson",46.0000,Southampton,"Bennington, VT",NaN,NaN,-80,male
152,1st,0,"Julian, Mr Henry Forbes",NaN,Southampton,London,NaN,NaN,NaN,male
153,1st,0,"Kent, Mr Edward Austin",58.0000,Cherbourg,"Buffalo, NY",NaN,NaN,-258,male
154,1st,0,"Kenyon, Mr Frederick R.",41.0000,Southampton,"Southington / Noank, CT",NaN,NaN,NaN,male
155,1st,1,"Kenyon, Mrs Frederick R. (Marion)",NaN,Southampton,"Southington / Noank, CT",NaN,NaN,8,female
156,1st,1,"Kimball, Mr Edwin Nelson Jr.",42.0000,Southampton,"Boston, MA",NaN,NaN,5,male
157,1st,1,"Kimball, Mrs Edwin Nelson Jr. (Gertrude Parsons)",40.0000,Southampton,"Boston, MA",NaN,NaN,5,female
158,1st,0,"Klaber, Mr Herman",NaN,Southampton,"Portland, OR",NaN,NaN,NaN,male
159,1st,1,"Leader, Dr Alice Farnham",NaN,Southampton,"New York, NY",NaN,NaN,8,female
160,1st,0,"Lewy, Mr Ervin G.",NaN,Cherbourg,"Chicago, IL",NaN,NaN,NaN,male
161,1st,0,"Lindeberg-Lind, Mr Erik Gustaf",42.0000,Southampton,"Stockholm, Sweden",NaN,NaN,NaN,male
162,1st,1,"Lindstrom, Mrs Carl Johan (Sigrid Posse)",55.0000,Cherbourg,"Stockholm, Sweden",NaN,NaN,6,female
163,1st,1,"Lines, Mrs Ernest H. (Elizabeth Lindsey James)",50.0000,Cherbourg,"Paris, France",NaN,NaN,9,female
164,1st,1,"Lines, Miss Mary Conover",16.0000,Cherbourg,"Paris, France",NaN,NaN,9,female
165,1st,0,"Lingrey, Mr Edward",NaN,NaN,NaN,NaN,NaN,NaN,male
166,1st,0,"Long, Mr Milton Clyde",29.0000,Southampton,"Springfield, MA",NaN,NaN,-126,male
167,1st,1,"Longley, Miss Gretchen Fiske",21.0000,Southampton,"Hudson, NY",D-?,13502 L77,10,female
168,1st,0,"Loring, Mr Joseph Holland",30.0000,Southampton,"London / New York, NY",NaN,NaN,NaN,male
169,1st,1,"Madill, Miss Georgette Alexandra",15.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
170,1st,0,"Maguire, Mr John Edward",30.0000,Southampton,"Brockton, MA",NaN,NaN,NaN,male
171,1st,1,"Marechal, Mr Pierre",NaN,Cherbourg,"Paris, France",NaN,NaN,7,male
172,1st,0,"Marvin, Mr Daniel Warner",NaN,Southampton,"New York, NY",NaN,NaN,NaN,male
173,1st,1,"Marvin, Mrs Daniel Warner (Mary Graham Carmich...",NaN,Southampton,"New York, NY",NaN,NaN,NaN,female
174,1st,0,"McCaffry, Mr Thomas Francis",46.0000,Cherbourg,"Vancouver, BC",NaN,NaN,-292,male
175,1st,0,"McCarthy, Mr Timothy J.",54.0000,Southampton,"Dorchester, MA",NaN,NaN,-175,male
176,1st,1,"McGough, Mr James R.",36.0000,Southampton,"Philadelphia, PA",NaN,NaN,7,male
177,1st,0,"Meyer, Mr Edgar Joseph",28.0000,Cherbourg,"New York, NY",NaN,NaN,NaN,male
178,1st,1,"Meyer, Mrs Edgar Joseph (Leila Saks)",NaN,Cherbourg,"New York, NY",NaN,NaN,6,female
179,1st,0,"Millet, Mr Francis Davis",65.0000,Southampton,"East Bridgewater, MA",NaN,NaN,-249,male
180,1st,1,"Minahan, Miss Daisy E.",33.0000,Queenstown,"Green Bay, WI",NaN,NaN,14,female
181,1st,0,"Minahan, Dr William Edward",44.0000,Queenstown,"Fond du Lac, WI",NaN,NaN,-230,male
182,1st,1,"Minahan, Mrs William Edward (Lillian E. Thorpe)",37.0000,Queenstown,"Fond du Lac, WI",NaN,NaN,14,female
183,1st,1,"Mock, Mr Philip E.",NaN,Cherbourg,"New York, NY",NaN,NaN,11,male
184,1st,0,"Molson, Mr Harry Markland",55.0000,Southampton,"Montreal, PQ",NaN,NaN,NaN,male
185,1st,0,"Moore, Mr Clarence Bloomfield",47.0000,Southampton,"Washington, DC",NaN,NaN,NaN,male
186,1st,0,"Natsch, Mr Charles H.",36.0000,Cherbourg,"Brooklyn, NY",NaN,NaN,NaN,male
187,1st,0,"Newell, Mr Arthur Webster",58.0000,Cherbourg,"Lexington, MA",NaN,NaN,-122,male
188,1st,1,"Newell, Miss Madeleine",31.0000,Cherbourg,"Lexington, MA",NaN,NaN,6,female
189,1st,1,"Newell, Miss Marjorie",23.0000,Cherbourg,"Lexington, MA",NaN,NaN,6,female
190,1st,1,"Newsom, Miss Helen Monypeny",19.0000,Southampton,"New York, NY",NaN,NaN,5,female
191,1st,0,"Nicholson, Mr Arthur Ernest",64.0000,Southampton,"Isle of Wight, England",NaN,NaN,-263,male
192,1st,1,"Omont, Mr A. Fernand",NaN,Cherbourg,"Paris, France",NaN,NaN,7,male
193,1st,0,"Ostby, Mr Engelhart Cornelius",64.0000,Cherbourg,"Providence, RI",NaN,NaN,-234,male
194,1st,1,"Ostby, Miss Helen Raghnild",22.0000,Cherbourg,"Providence, RI",NaN,NaN,5,female
195,1st,0,"Ovies y Rodriguez, Mr Servando",28.0000,NaN,"?Havana, Cuba",NaN,NaN,-189,male
196,1st,0,"Parr, Mr William Henry Marsh",NaN,NaN,Belfast,NaN,NaN,NaN,male
197,1st,0,"Partner, Mr Austin",NaN,Southampton,"Surbiton Hill, Surrey",NaN,NaN,-166,male
198,1st,0,"Payne, Mr Vivian Ponsonby",22.0000,Southampton,"Montreal, PQ",NaN,NaN,NaN,male
199,1st,0,"Pears, Mr Thomas",NaN,Southampton,"Isleworth, England",NaN,NaN,NaN,male
200,1st,1,"Pears, Mrs Thomas (Edith)",NaN,Southampton,"Isleworth, England",NaN,NaN,8,female
201,1st,0,"Penasco, Mr Victor de Satode",18.0000,Cherbourg,"Madrid, Spain",NaN,NaN,NaN,male
202,1st,1,"Penasco, Mrs Victor de Satode (Josefa de Soto)",17.0000,Cherbourg,"Madrid, Spain",NaN,NaN,8,female
203,1st,1,"Peuchen, Major Arthur Godfrey",52.0000,Southampton,"Toronto, ON",C-104,NaN,6,male
204,1st,0,"Porter, Mr Walter Chamberlain",46.0000,Southampton,"Worcester, MA",NaN,NaN,-207,male

In [3]:
!Open titanic.csv

The first thing we need to do is code the pclass and gender variables numerically. Let's use the following scheme:
- pclass: 1,2,3
- gender: 0=male, 1=female, and let's call the column called "female" to remind us which is which

In [4]:
# recode the pclass and gender variables so they are numeric
df['pclass'] = df.pclass.replace({'1st': 1, '2nd': 2, '3rd': 3})
df['female'] = df.gender.replace({'male': 0, 'female': 1})
df.head(3)

,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,gender,female
0,1,1,"Allen, Miss Elisabeth Walton",29.0,Southampton,"St Louis, MO",B-5,24160 L221,2,female,1
1,1,0,"Allison, Miss Helen Loraine",2.0,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female,1
2,1,0,"Allison, Mr Hudson Joshua Creighton",30.0,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,-135,male,0

### 1. Exploratory data analysis

In [5]:
df.head()

,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,gender,female
0,1,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female,1
1,1,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female,1
2,1,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,-135,male,0
3,1,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female,1
4,1,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male,0

In [6]:
# First, let's do some descriptive stats
# 
# How many men and women are travelling on the titanic?
# How many people are travelling in each class?
# What share of each survived?
piv = df.pivot_table(index='survived', columns='female', aggfunc='count', values='name')
display(piv)

pct_survived = piv.apply(lambda x: x/sum(x)).round(2)
display(pct_survived)

female      0    1
survived
0         708  156
1         142  307

female       0     1
survived
0         0.83  0.34
1         0.17  0.66

### 2. Logistic regression with one variable at a time

First, do a logistic regression of the `female` variable alone to predict the probability of survival. Below is some code that will help you plot the result.

In [11]:
# Step 1: Run a logistic regression on one variable and see the summary of the output

# hint: 
# https://investigate.ai/regression/logistic-regression-quickstart/#Performing-a-regression
import statsmodels.formula.api as smf

model = smf.logit("survived ~ female", data=df)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.517411
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                 1313
Model:                          Logit   Df Residuals:                     1311
Method:                           MLE   Df Model:                            1
Date:                Tue, 05 Apr 2022   Pseudo R-squ.:                  0.1945
Time:                        15:42:19   Log-Likelihood:                -679.36
converged:                       True   LL-Null:                       -843.38
Covariance Type:            nonrobust   LLR p-value:                 2.572e-73
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.6066      0.092    -17.473      0.000      -1.787      -1.426
female         2.2836      0.135     16.963      0.000       2.020       2.547
==============================================================================
"""

In [13]:
# Step 2: analyze the dataframe with predicted values

# hint: 
# you'll need to create a new column on df and use results.predict() to assign it values
# https://investigate.ai/regression/logistic-regression-quickstart/#Making-predictions
df['prediction'] = results.predict()
df

,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,gender,female,prediction
0,1,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female,1,0.663067
1,1,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female,1,0.663067
2,1,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,-135,male,0,0.167059
3,1,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female,1,0.663067
4,1,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male,0,0.167059
5,1,1,"Anderson, Mr Harry",47.0000,Southampton,"New York, NY",E-12,NaN,3,male,0,0.167059
6,1,1,"Andrews, Miss Kornelia Theodosia",63.0000,Southampton,"Hudson, NY",D-7,13502 L77,10,female,1,0.663067
7,1,0,"Andrews, Mr Thomas, jr",39.0000,Southampton,"Belfast, NI",A-36,NaN,NaN,male,0,0.167059
8,1,1,"Appleton, Mrs Edward Dale (Charlotte Lamson)",58.0000,Southampton,"Bayside, Queens, NY",C-101,NaN,2,female,1,0.663067
9,1,0,"Artagaveytia, Mr Ramon",71.0000,Cherbourg,"Montevideo, Uruguay",NaN,NaN,-22,male,0,0.167059
10,1,0,"Astor, Colonel John Jacob",47.0000,Cherbourg,"New York, NY",NaN,17754 L224 10s 6d,-124,male,0,0.167059
11,1,1,"Astor, Mrs John Jacob (Madeleine Talmadge Force)",19.0000,Cherbourg,"New York, NY",NaN,17754 L224 10s 6d,4,female,1,0.663067
12,1,1,"Aubert, Mrs Leontine Pauline",NaN,Cherbourg,"Paris, France",B-35,17477 L69 6s,9,female,1,0.663067
13,1,1,"Barkworth, Mr Algernon H.",NaN,Southampton,"Hessle, Yorks",A-23,NaN,B,male,0,0.167059
14,1,0,"Baumann, Mr John D.",NaN,Southampton,"New York, NY",NaN,NaN,NaN,male,0,0.167059
15,1,1,"Baxter, Mrs James (Helene DeLaudeniere Chaput)",50.0000,Cherbourg,"Montreal, PQ",B-58/60,NaN,6,female,1,0.663067
16,1,0,"Baxter, Mr Quigg Edmond",24.0000,Cherbourg,"Montreal, PQ",B-58/60,NaN,NaN,male,0,0.167059
17,1,0,"Beattie, Mr Thomson",36.0000,Cherbourg,"Winnipeg, MN",C-6,NaN,NaN,male,0,0.167059
18,1,1,"Beckwith, Mr Richard Leonard",37.0000,Southampton,"New York, NY",D-35,NaN,5,male,0,0.167059
19,1,1,"Beckwith, Mrs Richard Leonard (Sallie Monypeny)",47.0000,Southampton,"New York, NY",D-35,NaN,5,female,1,0.663067
20,1,1,"Behr, Mr Karl Howell",26.0000,Cherbourg,"New York, NY",C-148,NaN,5,male,0,0.167059
21,1,0,"Birnbaum, Mr Jakob",25.0000,Cherbourg,"San Francisco, CA",NaN,NaN,-148,male,0,0.167059
22,1,1,"Bishop, Mr Dickinson H.",25.0000,Cherbourg,"Dowagiac, MI",B-49,NaN,7,male,0,0.167059
23,1,1,"Bishop, Mrs Dickinson H. (Helen Walton)",19.0000,Cherbourg,"Dowagiac, MI",B-49,NaN,7,female,1,0.663067
24,1,1,"Bjornstrm-Steffansson, Mr Mauritz Hakan",28.0000,Southampton,"Stockholm, Sweden / Washington, DC",NaN,,D,male,0,0.167059
25,1,0,"Blackwell, Mr Stephen Weart",45.0000,Southampton,"Trenton, NJ",NaN,NaN,-241,male,0,0.167059
26,1,1,"Blank, Mr Henry",39.0000,Cherbourg,"Glen Ridge, NJ",A-31,NaN,7,male,0,0.167059
27,1,1,"Bonnell, Miss Caroline",30.0000,Southampton,"Youngstown, OH",C-7,NaN,8,female,1,0.663067
28,1,1,"Bonnell, Miss Elizabeth",58.0000,Southampton,"Birkdale, England Cleveland, Ohio",C-103,NaN,8,female,1,0.663067
29,1,0,"Borebank, Mr John James",NaN,Southampton,"London / Winnipeg, MB",D-21/2,NaN,NaN,male,0,0.167059
30,1,1,"Bowen, Miss Grace Scott",45.0000,Cherbourg,"Cooperstown, NY",NaN,NaN,4,female,1,0.663067
31,1,1,"Bowerman, Miss Elsie Edith",22.0000,Southampton,"St Leonards-on-Sea, England Ohio",NaN,NaN,6,female,1,0.663067
32,1,1,"Bradley, Mr George",NaN,Southampton,"Los Angeles, CA",NaN,NaN,15,male,0,0.167059
33,1,0,"Brady, Mr John Bertram",41.0000,Southampton,"Pomeroy, WA",NaN,NaN,NaN,male,0,0.167059
34,1,0,"Brandeis, Mr Emil",48.0000,Cherbourg,"Omaha, NE",NaN,17591 L50 9s 11d,-208,male,0,0.167059
35,1,0,"Brewe, Dr Arthur Jackson",NaN,Cherbourg,"Philadelphia, PA",NaN,NaN,NaN,male,0,0.167059
36,1,1,"Brown, Mrs James Joseph (Margaret Molly"" Tobin)""",44.0000,Cherbourg,"Denver, CO",NaN,17610 L27 15s 5d,6,female,1,0.663067
37,1,1,"Brown, Mrs John Murray (Caroline Lane Lamson)",59.0000,Southampton,"Belmont, MA",C-101,NaN,D,female,1,0.663067
38,1,1,"Bucknell, Mrs William Robert (Emma Eliza Ward)",60.0000,Cherbourg,"Philadelphia, PA",NaN,NaN,8,female,1,0.663067
39,1,0,"Butt, Major Archibald Willingham",45.0000,Southampton,"Washington, DC",NaN,NaN,NaN,male,0,0.167059
40,1,1,"Calderhead, Mr Edward P.",NaN,Southampton,"New York, NY",NaN,NaN,7-May,male,0,0.167059
41,1,1,"Candee, Mrs Edward (Helen Churchill Hungerford)",53.0000,Cherbourg,"Washington, DC",NaN,NaN,6,female,1,0.663067
42,1,1,"Cardeza, Mrs James Warburton Martinez (Charlot...",58.0000,Cherbourg,"Germantown, Philadelphia, PA",B-51/3/5,17755 L512 6s,3,female,1,0.663067
43,1,1,"Cardeza, Mr Thomas Drake Martinez",36.0000,Cherbourg,"Austria-Hungary / Germantown, Philadelphia, PA",B-51/3/5,17755 L512 6s,3,male,0,0.167059
44,1,0,"Carlsson, Mr Frans Olof",33.0000,Southampton,"New York, NY",NaN,NaN,NaN,male,0,0.167059
45,1,0,"Carrau, Mr Francisco M.",NaN,Southampton,"Montevideo, Uruguay",NaN,NaN,NaN,male,0,0.167059
46,1,0,"Carrau, Mr Jose Pedro",NaN,Southampton,"Montevideo, Uruguay",NaN,NaN,NaN,male,0,0.167059
47,1,1,"Carter, Mr William Ernest",36.0000,Southampton,"Bryn Mawr, PA",NaN,NaN,C,male,0,0.167059
48,1,1,"Carter, Mrs William Ernest (Lucile Polk)",36.0000,Southampton,"Bryn Mawr, PA",NaN,NaN,4,female,1,0.663067
49,1,1,"Carter, Miss Lucile Polk",14.0000,Southampton,"Bryn Mawr, PA",NaN,NaN,4,female,1,0.663067
50,1,1,"Carter, Master William T. II",11.0000,Southampton,"Bryn Mawr, PA",NaN,NaN,4,male,0,0.167059
51,1,0,"Case, Mr Howard Brown",49.0000,Southampton,"Ascot, Berkshire / Rochester, NY",NaN,NaN,NaN,male,0,0.167059
52,1,1,"Cassebeer, Mrs Henry Arthur jr (Genevieve Fosd...",NaN,Cherbourg,"New York, NY",NaN,NaN,5,female,1,0.663067
53,1,0,"Cavendish, Mr Tyrell William",36.0000,Southampton,"Little Onn Hall, Staffs",NaN,NaN,-172,male,0,0.167059
54,1,1,"Cavendish, Mrs Tyrell William Julia Florence S...",NaN,Southampton,"Little Onn Hall, Staffs",NaN,NaN,6,female,1,0.663067
55,1,0,"Chaffee, Mr Herbert Fuller",46.0000,Southampton,"Amenia, ND",NaN,NaN,NaN,male,0,0.167059
56,1,1,"Chaffee, Mrs Herbert Fuller (Carrie Constance ...",47.0000,Southampton,"Amenia, ND",NaN,NaN,NaN,female,1,0.663067
57,1,1,"Chambers, Mr Norman Campbell",27.0000,Southampton,"New York, NY / Ithaca, NY",NaN,NaN,5,male,0,0.167059
58,1,1,"Chambers, Mrs Norman Campbell (Bertha Griggs)",31.0000,Southampton,"New York, NY / Ithaca, NY",NaN,NaN,5,female,1,0.663067
59,1,1,"Cherry, Miss Gladys",NaN,Southampton,"London, England",NaN,NaN,8,female,1,0.663067
60,1,1,"Chevre, Mr Paul",NaN,Cherbourg,"Paris, France",NaN,NaN,7,male,0,0.167059
61,1,1,"Chibnall (Bowerman), Mrs Edith Martha",NaN,Southampton,"St Leonards-on-Sea, England Ohio",NaN,NaN,6,female,1,0.663067
62,1,0,"Chisholm, Mr Roderick Robert",NaN,NaN,"Liverpool, England / Belfast",NaN,NaN,NaN,male,0,0.167059
63,1,0,"Clark, Mr Walter Miller",27.0000,Cherbourg,"Los Angeles, CA",C-87,NaN,NaN,male,0,0.167059
64,1,1,"Clark, Mrs Walter Miller (Virginia McDowell)",26.0000,Cherbourg,"Los Angeles, CA",C-87,NaN,4,female,1,0.663067
65,1,0,"Clifford, Mr George Quincy",NaN,Southampton,"Stoughton, MA",NaN,NaN,NaN,male,0,0.167059
66,1,0,"Colley, Mr Edward Pomeroy",NaN,Southampton,"Victoria, BC",NaN,NaN,NaN,male,0,0.167059
67,1,1,"Compton, Mrs Alexander Taylor (Mary Eliza Inge...",64.0000,Cherbourg,"Lakewood, NJ",NaN,NaN,14,female,1,0.663067
68,1,0,"Compton, Mr Alexander Taylor, Jr",37.0000,Cherbourg,"Lakewood, NJ",NaN,NaN,NaN,male,0,0.167059
69,1,1,"Compton, Miss Sara Rebecca",39.0000,Cherbourg,"Lakewood, NJ",NaN,NaN,14,female,1,0.663067
70,1,1,"Cornell, Mrs Robert Clifford (Malvina Helen La...",55.0000,Southampton,"New York, NY",C-101,NaN,2,female,1,0.663067
71,1,0,"Crafton, Mr John Bertram",NaN,Southampton,"Roachdale, IN",NaN,NaN,NaN,male,0,0.167059
72,1,0,"Crosby, Captain Edward Gifford",70.0000,Southampton,"Milwaukee, WI",NaN,NaN,-269,male,0,0.167059
73,1,1,"Crosby, Mrs Edward Gifford (Catherine Elizabet...",69.0000,Southampton,"Milwaukee, WI",NaN,NaN,5,female,1,0.663067
74,1,1,"Crosby, Miss Harriet R.",36.0000,Southampton,"Milwaukee, WI",NaN,NaN,5,female,1,0.663067
75,1,0,"Cumings, Mr John Bradley",39.0000,Cherbourg,"New York, NY",C-85,NaN,NaN,male,0,0.167059
76,1,1,"Cumings, Mrs John Bradley (Florence Briggs Tha...",38.0000,Cherbourg,"New York, NY",C-85,NaN,4,female,1,0.663067
77,1,1,"Daly, Mr Peter Denis",NaN,Southampton,"Lima, Peru",NaN,NaN,A,male,0,0.167059
78,1,1,"Daniel, Mr Robert Williams",27.0000,Southampton,"Philadelphia, PA",NaN,NaN,7,male,0,0.167059
79,1,0,"Davidson, Mr Thornton",31.0000,Southampton,"Montreal, PQ",NaN,NaN,NaN,male,0,0.167059
80,1,1,"Davidson, Mrs Thornton (Orian Hays)",27.0000,Southampton,"Montreal, PQ",NaN,NaN,3,female,1,0.663067
81,1,1,"de Villiers, Madame Berthe",NaN,Cherbourg,"Belgium Montreal, PQ",NaN,NaN,6,female,1,0.663067
82,1,1,"Dick, Mr Albert Adrian",31.0000,Cherbourg,"Calgary, AB",NaN,NaN,3,male,0,0.167059
83,1,1,"Dick, Mrs Albert Adrian Vera Gillespie",17.0000,Cherbourg,"Calgary, AB",NaN,NaN,3,female,1,0.663067
84,1,1,"Dodge, Dr. Washington",NaN,Southampton,"San Francisco, CA",NaN,NaN,13,male,0,0.167059
85,1,1,"Dodge, Mrs Washington (Ruth Vidaver)",NaN,Southampton,"San Francisco, CA",NaN,NaN,7-May,female,1,0.663067
86,1,1,"Dodge, Master Washington",4.0000,Southampton,"San Francisco, CA",NaN,NaN,7-May,male,0,0.167059
87,1,1,"Douglas, Mrs Frederick Charles (Suzette Baxter)",27.0000,Cherbourg,"Montreal, PQ",NaN,NaN,6,female,1,0.663067
88,1,0,"Douglas, Mr Walter Donald",50.0000,Cherbourg,"Deephaven, MN / Cedar Rapids, IA",NaN,NaN,-62,male,0,0.167059
89,1,1,"Douglas, Mrs Walter Donald (Mahala Dutton)",48.0000,Cherbourg,"Deephaven, MN / Cedar Rapids, IA",NaN,NaN,2,female,1,0.663067
90,1,1,"Duff Gordon, Sir Cosmo Edmund",49.0000,Cherbourg,London / Paris,NaN,11755 L39 12s,1,male,0,0.167059
91,1,1,"Duff Gordon, Lady (Lucille Wallace Sutherland)",48.0000,Cherbourg,London / Paris,NaN,17485 L56 18s 7d,1,female,1,0.663067
92,1,0,"Dulles, Mr William Crothers",39.0000,Cherbourg,"Philadelphia, PA",NaN,NaN,-133,male,0,0.167059
93,1,1,"Earnshaw, Mrs Boulton (Olive Potter)",23.0000,Cherbourg,"Mt Airy, Philadelphia, PA",NaN,NaN,7,female,1,0.663067
94,1,1,"Eustis, Miss Elizabeth Mussey",53.0000,Cherbourg,"Brookline, MA",NaN,NaN,4,female,1,0.663067
95,1,0,"Evans, Miss Edith Corse",36.0000,Cherbourg,"New York, NY",NaN,NaN,NaN,female,1,0.663067
96,1,1,"Flegenheim, Mrs Alfred (Antoinette)",NaN,Cherbourg,"New York, NY",NaN,NaN,7,female,1,0.663067
97,1,1,"Flynn, Mr John Irving",NaN,Southampton,"Brooklyn, NY",NaN,NaN,7-May,male,0,0.167059
98,1,0,"Foreman, Mr Benjamin Laventall",30.0000,Cherbourg,"New York, NY",NaN,NaN,NaN,male,0,0.167059
99,1,1,"Fortune, Miss Alice Elizabeth",24.0000,Southampton,"Winnipeg, MB",NaN,NaN,10,female,1,0.663067
100,1,0,"Fortune, Mr Charles Alexander",19.0000,Southampton,"Winnipeg, MB",NaN,NaN,NaN,male,0,0.167059
101,1,1,"Fortune, Miss Ethel Flora",28.0000,Southampton,"Winnipeg, MB",NaN,NaN,10,female,1,0.663067
102,1,1,"Fortune, Miss Mabel",23.0000,Southampton,"Winnipeg, MB",NaN,NaN,10,female,1,0.663067
103,1,0,"Fortune, Mr Mark",64.0000,Southampton,"Winnipeg, MB",NaN,NaN,NaN,male,0,0.167059
104,1,1,"Fortune, Mrs Mark (Mary McDougald)",60.0000,Southampton,"Winnipeg, MB",NaN,NaN,10,female,1,0.663067
105,1,0,"Franklin, Mr Thomas Parham",NaN,Southampton,"Westcliff-on-Sea, Essex",NaN,NaN,NaN,male,0,0.167059
106,1,1,"Frauenthal, Dr Henry William",49.0000,Cherbourg,"New York, NY",NaN,NaN,5,male,0,0.167059
107,1,1,"Frauenthal, Mrs Henry William (Clara Heinsheimer)",NaN,Cherbourg,"New York, NY",NaN,NaN,5,female,1,0.663067
108,1,1,"Frauenthal, Mr Isaac Gerald",44.0000,Southampton,"New York, NY",NaN,NaN,5,male,0,0.167059
109,1,1,"Frolicher, Miss Marguerite",22.0000,Cherbourg,"Zurich, Switzerland",NaN,NaN,5,female,1,0.663067
110,1,1,"Frolicher-Stehli, Mr Maxmillian",60.0000,Cherbourg,"Zurich, Switzerland",NaN,NaN,5,male,0,0.167059
111,1,1,"Frolicher-Stehli, Mrs Maxmillian (Margaretha E...",48.0000,Cherbourg,"Zurich, Switzerland",NaN,NaN,5,female,1,0.663067
112,1,0,"Futrelle, Mr Jacques",37.0000,Southampton,"Scituate, MA",NaN,NaN,NaN,male,0,0.167059
113,1,1,"Futrelle, Mrs Jacques (May Peel)",35.0000,Southampton,"Scituate, MA",NaN,NaN,9,female,1,0.663067
114,1,0,"Gee, Mr Arthur H.",47.0000,Southampton,"St Anne's-on-Sea, Lancashire",NaN,NaN,-275,male,0,0.167059
115,1,1,"Gibson, Miss Dorothy",22.0000,Cherbourg,"New York, NY",NaN,NaN,7,female,1,0.663067
116,1,1,"Gibson, Mrs Leonard (Pauline C. Boeson)",45.0000,Cherbourg,"New York, NY",NaN,NaN,7,female,1,0.663067
117,1,1,"Goldenberg, Mr Samuel L.",49.0000,Cherbourg,"Paris, France / New York, NY",NaN,NaN,5,male,0,0.167059
118,1,1,"Goldenberg, Mrs Samuel L. (Edwiga Grabowsko)",NaN,Cherbourg,"Paris, France / New York, NY",NaN,NaN,5,female,1,0.663067
119,1,0,"Goldschmidt, Mr George B.",71.0000,Cherbourg,"New York, NY",NaN,NaN,NaN,male,0,0.167059
120,1,1,"Gracie, Colonel Archibald IV",54.0000,Southampton,"Washington, DC",C-51,113780 L28 10s,B,male,0,0.167059
121,1,0,"Graham, Mr George Edward",38.0000,Southampton,"Winnipeg, MB",NaN,NaN,-147,male,0,0.167059
122,1,1,"Graham, Miss Margaret Edith",19.0000,Southampton,"Greenwich, CT",C-125,17582 L153 9s 3d,3,female,1,0.663067
123,1,1,"Graham, Mrs William Thompson (Edith Junkins)",58.0000,Southampton,"Greenwich, CT",C-91,17582 L153 9s 3d,3,female,1,0.663067
124,1,1,"Greenfield, Mrs Leo David (Blanche Strouse)",45.0000,Cherbourg,"New York, NY",NaN,NaN,7,female,1,0.663067
125,1,1,"Greenfield, Mr William Bertram",23.0000,Cherbourg,"New York, NY",NaN,NaN,7,male,0,0.167059
126,1,0,"Guggenheim, Mr Benjamin",46.0000,Cherbourg,"New York, NY",B-82/4,17593 L56 18s 7d,NaN,male,0,0.167059
127,1,1,"Harder, Mr George Achilles",25.0000,Cherbourg,"Brooklyn, NY",NaN,NaN,5,male,0,0.167059
128,1,1,"Harder, Mrs George Achilles (Dorothy Annan)",21.0000,Cherbourg,"Brooklyn, NY",NaN,NaN,5,female,1,0.663067
129,1,1,"Harper, Mr Henry Sleeper",48.0000,Cherbourg,"New York, NY",NaN,NaN,3,male,0,0.167059
130,1,1,"Harper, Mrs Henry Sleeper (Myna Haxtun)",49.0000,Cherbourg,"New York, NY",NaN,NaN,3,female,1,0.663067
131,1,0,"Harris, Mr Henry Birkhardt",45.0000,Southampton,"New York, NY",C-83,36973 L83 9s 6d,NaN,male,0,0.167059
132,1,1,"Harris, Mrs Henry Birkhardt (Irene Wallach)",36.0000,Southampton,"New York, NY",C-83,36973 L83 9s 6d,D,female,1,0.663067
133,1,1,"Hawksford, Mr Walter James",NaN,Southampton,"Kingston, Surrey",NaN,NaN,3,male,0,0.167059
134,1,0,"Hays, Mr Charles Melville",55.0000,Southampton,"Montreal, PQ",NaN,NaN,-307,male,0,0.167059
135,1,1,"Hays, Mrs Charles Melville (Clara Jennings Gregg)",52.0000,Southampton,"Montreal, PQ",NaN,NaN,3,female,1,0.663067
136,1,1,"Hays, Miss Margaret Bechstein",24.0000,Southampton,"New York, NY",NaN,NaN,7,female,1,0.663067
137,1,0,"Head, Mr Christopher",NaN,Southampton,London / Middlesex,NaN,NaN,NaN,male,0,0.167059
138,1,0,"Hilliard, Mr Herbert Henry",NaN,Southampton,"Brighton, MA",NaN,NaN,NaN,male,0,0.167059
139,1,0,"Hipkins, Mr William Edward",NaN,Southampton,London / Birmingham,NaN,NaN,NaN,male,0,0.167059
140,1,1,"Hippach, Miss Jean Gertrude",16.0000,Cherbourg,"Chicago, IL",B-18,111361 L57 19s 7d,4,female,1,0.663067
141,1,1,"Hippach, Mrs Louis Albert (Ida Sophia Fischer)",44.0000,Cherbourg,"Chicago, IL",B-18,111361 L57 19s 7d,4,female,1,0.663067
142,1,1,"Hogeboom, Mrs John C. (Anna Andrews)",51.0000,Southampton,"Hudson, NY",D-?,13502 L77,10,female,1,0.663067
143,1,0,"Holverson, Mr Alexander Oskar",42.0000,Southampton,"New York, NY",NaN,NaN,-38,male,0,0.167059
144,1,1,"Holverson, Mrs Alexander Oskar (Mary Aline Tow...",35.0000,Southampton,"New York, NY",NaN,NaN,NaN,female,1,0.663067
145,1,1,"Homer, Mr Harry",35.0000,Cherbourg,"Indianapolis, IN",NaN,NaN,15,male,0,0.167059
146,1,1,"Hoyt, Mr Frederick Maxfield",38.0000,Southampton,"New York, NY / Stamford CT",C-93,NaN,D,male,0,0.167059
147,1,1,"Hoyt, Mrs Frederick Maxfield (Jane Anne Forby)",35.0000,Southampton,"New York, NY / Stamford CT",C-93,NaN,D,female,1,0.663067
148,1,0,"Hoyt, Mr William F.",NaN,Cherbourg,"New York, NY",NaN,NaN,14,male,0,0.167059
149,1,0,"Isham, Miss Anne Elizabeth",50.0000,Cherbourg,"Paris, France New York, NY",C-49,NaN,NaN,female,1,0.663067
150,1,1,"Ismay, Mr Joseph Bruce",49.0000,Southampton,Liverpool,B-52/4/6,112058 Complimentary,C,male,0,0.167059
151,1,0,"Jones, Mr Charles Cresson",46.0000,Southampton,"Bennington, VT",NaN,NaN,-80,male,0,0.167059
152,1,0,"Julian, Mr Henry Forbes",NaN,Southampton,London,NaN,NaN,NaN,male,0,0.167059
153,1,0,"Kent, Mr Edward Austin",58.0000,Cherbourg,"Buffalo, NY",NaN,NaN,-258,male,0,0.167059
154,1,0,"Kenyon, Mr Frederick R.",41.0000,Southampton,"Southington / Noank, CT",NaN,NaN,NaN,male,0,0.167059
155,1,1,"Kenyon, Mrs Frederick R. (Marion)",NaN,Southampton,"Southington / Noank, CT",NaN,NaN,8,female,1,0.663067
156,1,1,"Kimball, Mr Edwin Nelson Jr.",42.0000,Southampton,"Boston, MA",NaN,NaN,5,male,0,0.167059
157,1,1,"Kimball, Mrs Edwin Nelson Jr. (Gertrude Parsons)",40.0000,Southampton,"Boston, MA",NaN,NaN,5,female,1,0.663067
158,1,0,"Klaber, Mr Herman",NaN,Southampton,"Portland, OR",NaN,NaN,NaN,male,0,0.167059
159,1,1,"Leader, Dr Alice Farnham",NaN,Southampton,"New York, NY",NaN,NaN,8,female,1,0.663067
160,1,0,"Lewy, Mr Ervin G.",NaN,Cherbourg,"Chicago, IL",NaN,NaN,NaN,male,0,0.167059
161,1,0,"Lindeberg-Lind, Mr Erik Gustaf",42.0000,Southampton,"Stockholm, Sweden",NaN,NaN,NaN,male,0,0.167059
162,1,1,"Lindstrom, Mrs Carl Johan (Sigrid Posse)",55.0000,Cherbourg,"Stockholm, Sweden",NaN,NaN,6,female,1,0.663067
163,1,1,"Lines, Mrs Ernest H. (Elizabeth Lindsey James)",50.0000,Cherbourg,"Paris, France",NaN,NaN,9,female,1,0.663067
164,1,1,"Lines, Miss Mary Conover",16.0000,Cherbourg,"Paris, France",NaN,NaN,9,female,1,0.663067
165,1,0,"Lingrey, Mr Edward",NaN,NaN,NaN,NaN,NaN,NaN,male,0,0.167059
166,1,0,"Long, Mr Milton Clyde",29.0000,Southampton,"Springfield, MA",NaN,NaN,-126,male,0,0.167059
167,1,1,"Longley, Miss Gretchen Fiske",21.0000,Southampton,"Hudson, NY",D-?,13502 L77,10,female,1,0.663067
168,1,0,"Loring, Mr Joseph Holland",30.0000,Southampton,"London / New York, NY",NaN,NaN,NaN,male,0,0.167059
169,1,1,"Madill, Miss Georgette Alexandra",15.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female,1,0.663067
170,1,0,"Maguire, Mr John Edward",30.0000,Southampton,"Brockton, MA",NaN,NaN,NaN,male,0,0.167059
171,1,1,"Marechal, Mr Pierre",NaN,Cherbourg,"Paris, France",NaN,NaN,7,male,0,0.167059
172,1,0,"Marvin, Mr Daniel Warner",NaN,Southampton,"New York, NY",NaN,NaN,NaN,male,0,0.167059
173,1,1,"Marvin, Mrs Daniel Warner (Mary Graham Carmich...",NaN,Southampton,"New York, NY",NaN,NaN,NaN,female,1,0.663067
174,1,0,"McCaffry, Mr Thomas Francis",46.0000,Cherbourg,"Vancouver, BC",NaN,NaN,-292,male,0,0.167059
175,1,0,"McCarthy, Mr Timothy J.",54.0000,Southampton,"Dorchester, MA",NaN,NaN,-175,male,0,0.167059
176,1,1,"McGough, Mr James R.",36.0000,Southampton,"Philadelphia, PA",NaN,NaN,7,male,0,0.167059
177,1,0,"Meyer, Mr Edgar Joseph",28.0000,Cherbourg,"New York, NY",NaN,NaN,NaN,male,0,0.167059
178,1,1,"Meyer, Mrs Edgar Joseph (Leila Saks)",NaN,Cherbourg,"New York, NY",NaN,NaN,6,female,1,0.663067
179,1,0,"Millet, Mr Francis Davis",65.0000,Southampton,"East Bridgewater, MA",NaN,NaN,-249,male,0,0.167059
180,1,1,"Minahan, Miss Daisy E.",33.0000,Queenstown,"Green Bay, WI",NaN,NaN,14,female,1,0.663067
181,1,0,"Minahan, Dr William Edward",44.0000,Queenstown,"Fond du Lac, WI",NaN,NaN,-230,male,0,0.167059
182,1,1,"Minahan, Mrs William Edward (Lillian E. Thorpe)",37.0000,Queenstown,"Fond du Lac, WI",NaN,NaN,14,female,1,0.663067
183,1,1,"Mock, Mr Philip E.",NaN,Cherbourg,"New York, NY",NaN,NaN,11,male,0,0.167059
184,1,0,"Molson, Mr Harry Markland",55.0000,Southampton,"Montreal, PQ",NaN,NaN,NaN,male,0,0.167059
185,1,0,"Moore, Mr Clarence Bloomfield",47.0000,Southampton,"Washington, DC",NaN,NaN,NaN,male,0,0.167059
186,1,0,"Natsch, Mr Charles H.",36.0000,Cherbourg,"Brooklyn, NY",NaN,NaN,NaN,male,0,0.167059

In [15]:
df.prediction.unique()

array([0.66306695, 0.16705882])

In [ ]:
# Step 3: What is the odds ratio of on the gender variable alone?

# hint: in order to make sense of the coefficients, you'll need to exponentiate them
# that turns the coefficients into odds ratios
# https://investigate.ai/regression/logistic-regression-quickstart/#Converting-coefficient-to-odds

Now, try the same thing but with the `pclass` variable

In [ ]:
# Step 1: Run a logistic regression on one variable and see the summary of the output

# hint: 
# https://investigate.ai/regression/logistic-regression-quickstart/#Performing-a-regression

In [ ]:
# Step 2: analyze the dataframe with predicted values

# hint: 
# you'll need to create a new column on df and use results.predict() to assign it values
# https://investigate.ai/regression/logistic-regression-quickstart/#Making-predictions

In [ ]:
# Step 3: What is the odds ratio of on the pclass variable alone?

# hint: in order to make sense of the coefficients, you'll need to exponentiate them
# that turns the coefficients into odds ratios
# https://investigate.ai/regression/logistic-regression-quickstart/#Converting-coefficient-to-odds

**Bonus** 🤖 - Writing clean/DRY code

DRY stands for "Don't Repeat Yourself". This is a good principle of writing clean code. Instead of copy/pasting code multiple times (which can lead to errors if you fix one copy but not the other), you can write DRY code by wrapping any chunk of code you plan to repeat in a function. As a bonus on this section, re-write the code above as a function and run that function once on `female` and once on `pclass`.

### 3. Looking at two variables at a time

We know from the earlier assignment that class also affects survival, so let's add that to our model. Compute a logistic regression on the variables `pclass` and `female`.

In [ ]:
# Logistic regression on two variables

# hint: 
# https://investigate.ai/regression/logistic-regression-quickstart/#Performing-a-regression

In [ ]:
# Step 2: analyze the dataframe with predicted values

# hint: 
# you'll need to create a new column on df and use results.predict() to assign it values
# https://investigate.ai/regression/logistic-regression-quickstart/#Making-predictions

In [ ]:
# Step 3: What is the odds ratio of on the gender variable?

# hint: in order to make sense of the coefficients, you'll need to exponentiate them
# that turns the coefficients into odds ratios
# https://investigate.ai/regression/logistic-regression-quickstart/#Converting-coefficient-to-odds

### 4. What does this mean

What is the odds ratio on the `pclass` variable? What happens to the odds of survival when we move from 1st to 2nd or from 2nd to 3rd class?

In [ ]:
👉

### 5. Bonus - Age

Does the age of a passenger impact their chances of survival?